body {
  max-width: 700px;
  margin: 0 auto;
  font-size: 10pt;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  padding-bottom: 3%;
}

#pic {
	height:35%;
	width:35%;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative
}
