html {
  height: 100%;
  width: 100%;
}

body {
  max-width: 80%;
  margin: 0 auto;
  /* font-size: 10pt; */
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  padding-bottom: 3%;
  background-color: rgb(231, 231, 231);
  /* background-image: linear-gradient(#e0e0e0 0%, white 52.08%); */
  height: 100%;
}

#pic {
	height:45%;
	width:45%;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative
}

ul#menu li {
	display:inline;
	margin: 5px;
}

.icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    /* Other styles here */
}


@media (min-width:320px)  {
    .logo-position{
      display: flex;
      position: relative;
      top: 50%;
      left: 40%;
      transform: translate(-50%,-50%);
    }

    .logo-text-position {
      display: block flex;
      top: 40%;
      left: 5%;
      position: relative;
    }

    .splash-link-style{
      font-size: 1.5em;
      color: darkslategray;
      text-decoration: none;
    }
    
    .menu-link-style{
      font-size: 160%;
      color: darkslategray;
      text-decoration: none;
      flex: 1;
      margin: 0 5% 0 5%;
      flex-flow: row nowrap;
    }

    .h1-splash-style{
      font-size: 350%;
    }
}
@media (min-width:1025px) {
  .logo-position{
    display: flex;
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    height: 100%;
  }

  .logo-text-position {
    display: block flex;
    top: 40%;
    left: 15%;
    position: relative;
  }

  .splash-link-style{
    /* font-size: 2em; */
    font-size: 170%;
    color: darkslategray;
    text-decoration: none;
  }
  
  .menu-link-style{
    font-size: 1.3vmax;
    color: darkslategray;
    text-decoration: none;
    flex: 1;
    margin: 0 10% 0 10%;
    flex-flow: row nowrap;
  }
  
  .h1-splash-style{
    /* font-size: 4vmax; */
    font-size: 500%;
  }

}
